# -------------------------------
# Виртуальные окружения
# -------------------------------
venv/
env/
.venv/

# -------------------------------
# Python bytecode
# -------------------------------
__pycache__/
*.py[cod]
*$py.class

# -------------------------------
# Логи и временные файлы
# -------------------------------
*.log
*.tmp

# -------------------------------
# pytest кэш
# -------------------------------
.pytest_cache/

# -------------------------------
# Системные файлы
# -------------------------------
.DS_Store   # macOS
Thumbs.db   # Windows

# -------------------------------
# Jupyter
# -------------------------------
.ipynb_checkpoints/

# -------------------------------
# IDE/редакторы
# -------------------------------
.vscode/

